:root {
    --border: 2px solid hsl(0 0% 60%);
}
html,
body {
    height: 100%;
}
body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: clamp(2rem, 1.3043rem + 3.4783vw, 4rem);
    font-family: 'Bungee Shade', cursive;
}
#score-board {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
}
#score-board-heading {
    font-size: 2rem;
    text-transform: uppercase;
}
#score-section {
    display: flex;
}
.score {
    display: flex;
    flex: 1 1 50px;
    flex-direction: column;
    align-items: center;
}
.score-player {
    font-size: 1.5rem;
}
.score-points {
    font-size: 1.24rem;
}
.game-ui {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}
.cell {
    cursor: pointer;
    border: none;
    color: transparent;
    font-size: 3rem;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    text-shadow: 0 0 0 hsl(0 0% 20%);
}
#cell-1,
#cell-2,
#cell-4,
#cell-5 {
    border-right: var(--border);
    border-bottom: var(--border);
}
#cell-3,
#cell-6 {
    border-bottom: var(--border);
}
#cell-7,
#cell-8 {
    border-right: var(--border);
}
#next-player {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 2rem;
}
#restart,
#reset {
    cursor: pointer;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
}
#reset {
    margin-bottom: 80px;
    background-color: crimson;
    padding: 0.75em 1em;
    color: white;
    font-size: 0.875rem;
}
footer {
    padding: 80px 20px;
    text-align: center;
}
